<div class="center-content">
  <h1>感謝の学習タイマー</h1>

  <!-- スタンプが満タンになったらメッセージとイラストを表示 -->
  <% if Timer.stamps >= 30 %>
    <div class="congratulations">
      <p>🎉おめでとうございます🎉<br>感謝のスタンプが満タンになりました！</p>
      <%= image_tag 'cute_image.png', alt: '可愛いイラスト' %>
      <p>大切な人に感謝の気持ちを伝えましょう！！</p>
      <%= button_to "スタンプをリセットして学習再開", reset_total_duration_timers_path, method: :delete, id: 'reset-total-duration-button' %>
    </div>
  <% else %>
    <%= form_with model: @timer, local: true, html: { class: 'start-form' } do |form| %>
      <%= form.submit "🌱学習開始🌱", class: 'start-button', id: 'start-button' %>
    <% end %>
  <% end %>

  <% if @last_timer && @last_timer.end_time.present? %>
    <p class="info-text">今回の学習時間: <%= @last_timer.duration %></p>
  <% end %>

  <% if Timer.total_duration > 0 %>
    <!-- <p class="info-text">累計学習時間: <%= Timer.formatted_total_duration %></p> -->
    <!-- <p class="info-text">現在のスタンプ数（1秒の学習で1カウント）: <%= Timer.stamps %></p> -->
  <% else %>
    <!-- <p class="info-text">学習を再開しましょう🔥</p> -->
  <% end %>

  <!-- 独立した累計学習時間を表示 -->
  <p class="info-text">累計学習時間: <%= Time.at(@independent_total_duration || 0).utc.strftime("%H時間%M分%S秒") %></p>
  <!--<%= button_to "独立した累計学習時間をリセット", reset_independent_total_duration_timers_path, method: :delete, id: 'reset-independent-total-duration-button' %> -->

  <!-- <%= button_to "「累計学習時間」と「スタンプ数をリセット」", reset_total_duration_timers_path, method: :delete, id: 'reset-total-duration-button' %> -->

  <!-- マスの数を入力するフォーム -->
  <!--<%= form_with url: new_timer_path, method: :get, local: true do %>
    <div>
      <label for="cells">マスの数（任意で設定可能）:</label>
      <input type="number" id="cells" name="cells" value="<%= params[:cells] || 50 %>">
    </div>
    <%= submit_tag "更新" %>
  <% end %>

  <!-- スタンプの表を表示 -->
  <table>
    <!--<p>1スタンプ毎に1つのクローバーが追加されます</p> -->
    <p class="info-text">現在のスタンプ数（1秒の学習で1カウント）: <%= Timer.stamps %></p>
    <% cells = (params[:cells] || 30).to_i %>
    <% rows = (cells / 10.0).ceil %>
    <% rows.times do |row| %>
      <tr>
        <% 10.times do |col| %>
          <% index = row * 10 + col %>
          <td>
            <% if index < cells %>
              <% if index < Timer.stamps %>
                <span>🍀</span> <!-- スタンプが押された状態 -->
              <% else %>
                <span>⬜️</span> <!-- スタンプが押されていない状態 -->
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<!-- 学習開始ボタンの変更の処理をJavaScriptで実行 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startButton = document.getElementById('start-button');
    startButton.addEventListener('mouseover', function() {
      startButton.value = '🔥学習開始🔥';
    });
    startButton.addEventListener('mouseout', function() {
      startButton.value = '🌱学習開始🌱';
    });
  });
</script>

