<h1>学習タイマー</h1>

<%= form_with model: @timer, local: true do |form| %>
  <%= form.submit "学習開始" %>
<% end %>

<% if @last_timer && @last_timer.end_time.present? %>
  <p>今回の学習時間: <%= @last_timer.duration %></p>
<% end %>

<% if Timer.total_duration > 0 %>
  <p>累計学習時間: <%= Timer.formatted_total_duration %></p>
  <p>スタンプ数: <%= Timer.stamps %></p>
<% else %>
  <p>まだ学習時間の記録がありません。</p>
<% end %>

<%= button_to "「累計学習時間」と「スタンプ数をリセット」", reset_timers_path, method: :delete, id: 'reset-button' %>

<!-- スタンプの表を表示 -->
<table>
  <% 5.times do |row| %>
    <tr>
      <% 10.times do |col| %>
        <% index = row * 10 + col %>
        <td>
          <% if index < Timer.stamps %>
            <span>🍀</span> <!-- スタンプが押された状態 -->
          <% else %>
            <span>⬜️</span> <!-- スタンプが押されていない状態 -->
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
