<%= stylesheet_link_tag 'timers_show', media: 'all' %>

<div class="study-content">
  <h1>学習中</h1>

  <% if @timer.end_time.present? %>
    <p>今回の学習時間: <%= @timer.duration %></p>
  <% else %>
    <!-- <p>学習が終了したら<br>「タイマー終了」ボタンを押してください。</p> -->
    <p>学習経過時間: <span id="elapsed-time">0時間0分0秒</span></p>
  <% end %>

  <!--<p>累計学習時間: <span id="total-duration"><%= Timer.formatted_total_duration %></span></p> -->
  <!--<p>スタンプ数: <%= Timer.stamps %></p> -->

  <% if @timer.end_time.nil? %>
    <%= button_to "学習終了", stop_timer_path(@timer), method: :patch %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startTime = new Date();
    var elapsedTimeElement = document.getElementById('elapsed-time');

    function updateElapsedTime() {
      var now = new Date();
      var elapsedTime = Math.floor((now - startTime) / 1000);

      var hours = Math.floor(elapsedTime / 3600);
      var minutes = Math.floor((elapsedTime % 3600) / 60);
      var seconds = elapsedTime % 60;

      elapsedTimeElement.textContent = hours + '時間' + minutes + '分' + seconds + '秒';
    }

    setInterval(updateElapsedTime, 1000);
  });
</script>