<h1>学習タイマーの結果</h1>

<% if @timer.end_time.present? %>
  <p>今回の学習時間: <%= @timer.duration %> 時間</p>
<% else %>
  <p>学習中です。終了するには、終了ボタンを押してください。</p>
<% end %>

<p>累計学習時間: <%= Timer.total_duration %> 時間</p>
<p>スタンプ数: <%= Timer.stamps %></p>

<%= link_to "ホームに戻る", new_timer_path %>

<% if @timer.end_time.nil? %>
  <%= button_to "タイマー終了", stop_timer_path(@timer), method: :patch %>

<% if @timer.start_time.present? && @timer.end_time.nil? %>
  <p id="timer-display" data-start-time="<%= @timer.start_time %>">0時間 0分 0秒</p>
<% end %>

<% end %>