<%= stylesheet_link_tag 'timers_study', media: 'all' %>

<div class="study-content">
  <h1 class="studying">学習中</h1>
  <br>

  <% if @timer.end_time.present? %>
    <p>今回の学習時間: <%= @timer.duration %></p>
  <% else %>
    <p class="elapsed-time"><span id="elapsed-time">0秒</span></p>
    <br>
  <% end %>

  <% if @timer.end_time.nil? %>
    <%= button_to "学習終了", stop_timer_path(@timer), method: :patch, class: "stop-timer-button" %>
    <br>
  <% end %>
</div>

<!-- ポモドーロタイマーの要素 -->
<div class="countdown-timer">
  <h2></h2>
  <div>
    <span id="countdown-display">25:00</span>
  </div>
  <div>
    <button id="reset-countdown">ポモドーロをリセット</button>
  </div>
</div>

<!-- 録音したメッセージの音声要素 -->
<audio id="message1-female" src="<%= @message1_female %>" preload="auto"></audio>
<audio id="message2-female" src="<%= @message2_female %>" preload="auto"></audio>
<audio id="message1-male" src="<%= @message1_male %>" preload="auto"></audio>
<audio id="message2-male" src="<%= @message2_male %>" preload="auto"></audio>
<audio id="rain-sound" src="<%= @rain_sound %>" preload="auto" loop></audio>

<!-- 雨のエフェクトを表示するための要素 -->
<div id="rain-container"></div>

<!-- 雨音の音量調節用のスライダー -->
<div class="volume-control">
  <i id="volume-icon" class="fas fa-volume-up"></i>
  <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5" style="display: none;">
</div>

<!-- 音声メッセージの音量調節用のスライダー -->
<div class="message-volume-control message-volume-control-adjusted">
  <i id="message-volume-icon" class="fas fa-user"></i>
  <input type="range" id="message-volume-slider" min="0" max="1" step="0.01" value="0.5" style="display: none;">
</div>

<!-- ポモドーロタイマーの設定 -->
<div class="pomodoro-settings">
  <label for="work-duration">学習時間 (分)</label>
  <input type="number" id="work-duration" value="25" min="1">
  <label for="break-duration">休憩時間 (分)</label>
  <input type="number" id="break-duration" value="5" min="1">
  <button id="set-pomodoro">設定</button>
</div>

<!-- 音声メッセージの選択 -->
<div class="voice-selection">
  <label class="voice-female">
    <input type="radio" name="voice" value="female" checked> 女性の声
  </label>
  <label class="voice-male">
    <input type="radio" name="voice" value="male"> 男性の声
  </label>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startTime = new Date();
    var elapsedTimeElement = document.getElementById('elapsed-time');
    var message1Female = document.getElementById('message1-female');
    var message2Female = document.getElementById('message2-female');
    var message1Male = document.getElementById('message1-male');
    var message2Male = document.getElementById('message2-male');
    var rainSound = document.getElementById('rain-sound');
    var volumeSlider = document.getElementById('volume-slider');
    var volumeIcon = document.getElementById('volume-icon');
    var messageVolumeSlider = document.getElementById('message-volume-slider');
    var messageVolumeIcon = document.getElementById('message-volume-icon');
    var voiceSelection = document.querySelector('.voice-selection');
    var pomodoroSettings = document.querySelector('.pomodoro-settings');
    var isMessage1Playing = false;
    var lastElapsedTime = 0;
    var isTabActive = true;
    var selectedVoice = 'female';
    var tempSelectedVoice = selectedVoice; // 一時的に選択された声の設定を保存

    // ローカルストレージから設定を読み込む関数
    function loadSettings() {
      var savedWorkDuration = localStorage.getItem('workDuration');
      var savedBreakDuration = localStorage.getItem('breakDuration');
      var savedVoice = localStorage.getItem('selectedVoice');
      var savedCountdownTime = localStorage.getItem('countdownTime');
      var savedIsWorkSession = localStorage.getItem('isWorkSession');

      if (savedWorkDuration) {
        workDurationInput.value = savedWorkDuration;
      }
      if (savedBreakDuration) {
        breakDurationInput.value = savedBreakDuration;
      }
      if (savedVoice) {
        selectedVoice = savedVoice;
        tempSelectedVoice = savedVoice; // 一時的な設定も更新
        document.querySelector(`input[name="voice"][value="${savedVoice}"]`).checked = true;
        updateMessageVolumeIconColor();
      }
      if (savedCountdownTime) {
        countdownTime = parseInt(savedCountdownTime, 10);
        updateCountdownDisplay();
      }
      if (savedIsWorkSession) {
        isWorkSession = savedIsWorkSession === 'true';
      }
    }

    // 設定をローカルストレージに保存する関数
    function saveSettings() {
      localStorage.setItem('workDuration', workDurationInput.value);
      localStorage.setItem('breakDuration', breakDurationInput.value);
      localStorage.setItem('selectedVoice', selectedVoice);
      localStorage.setItem('countdownTime', countdownTime);
      localStorage.setItem('isWorkSession', isWorkSession);
    }

    // 雨のエフェクトを追加する関数
    function createRainEffect() {
      var rainContainer = document.getElementById('rain-container');
      for (var i = 0; i < 100; i++) {
        var rainDrop = document.createElement('div');
        rainDrop.className = 'rain-drop';
        rainDrop.style.left = Math.random() * 100 + 'vw';
        rainDrop.style.animationDuration = Math.random() * 2 + 3 + 's';
        rainDrop.style.animationDelay = Math.random() * 5 + 's';
        rainContainer.appendChild(rainDrop);
      }
    }

    // 経過時間を更新する関数
    function updateElapsedTime() {
      var now = new Date();
      var elapsedTime = Math.floor((now - startTime) / 1000);

      var hours = Math.floor(elapsedTime / 3600);
      var minutes = Math.floor((elapsedTime % 3600) / 60);
      var seconds = elapsedTime % 60;

      var formattedTime = hours + '時間' + minutes + '分' + seconds + '秒';
      elapsedTimeElement.textContent = formattedTime;

      lastElapsedTime = elapsedTime;
    }

    // タイトルの時間を更新する関数
    function updateTitleTime() {
      var now = new Date();
      var elapsedTime = Math.floor((now - startTime) / 1000);

      var hours = Math.floor(elapsedTime / 3600);
      var minutes = Math.floor((elapsedTime % 3600) / 60);
      var seconds = elapsedTime % 60;

      var titleTime = '';
      if (hours > 0) {
        titleTime += hours + '時間';
      }
      if (minutes > 0 || hours > 0) {
        titleTime += minutes + '分';
      }
      titleTime += seconds + '秒';

      document.title = titleTime + ' | 感謝の学習タイマー';
    }

    // タイマーの更新を `requestAnimationFrame` で行う
    function startTimer() {
      if (isTabActive) {
        updateElapsedTime();
      }
      requestAnimationFrame(startTimer);
    }

    // 1秒ごとにタイトルを更新
    setInterval(updateTitleTime, 1000); // 1秒ごとにタイトルを更新

    // 雨音を再生
    rainSound.play();

    // 音量スライダーの表示/非表示を切り替える関数
    volumeIcon.addEventListener('click', function() {
      volumeSlider.style.display = volumeSlider.style.display === 'none' ? 'block' : 'none';
    });

    // 音量を調整する関数
    volumeSlider.addEventListener('input', function() {
      rainSound.volume = volumeSlider.value;
      updateVolumeIcon();
    });

    // 音量に応じてアイコンを変更する関数
    function updateVolumeIcon() {
      if (rainSound.volume === 0) {
        volumeIcon.className = 'fas fa-volume-mute';
      } else if (rainSound.volume <= 0.5) {
        volumeIcon.className = 'fas fa-volume-down';
      } else {
        volumeIcon.className = 'fas fa-volume-up';
      }
    }

    // 初期アイコンの設定
    updateVolumeIcon();

    // 音声メッセージの音量スライダーの表示/非表示を切り替える関数
    messageVolumeIcon.addEventListener('click', function() {
      var isSliderVisible = messageVolumeSlider.style.display === 'block';
      messageVolumeSlider.style.display = isSliderVisible ? 'none' : 'block';
      pomodoroSettings.style.display = isSliderVisible ? 'none' : 'block';
      voiceSelection.style.display = isSliderVisible ? 'none' : 'block';
    });

    // 音声メッセージの音量を調整する関数
    messageVolumeSlider.addEventListener('input', function() {
      if (selectedVoice === 'female') {
        message1Female.volume = messageVolumeSlider.value;
        message2Female.volume = messageVolumeSlider.value;
      } else {
        message1Male.volume = messageVolumeSlider.value;
        message2Male.volume = messageVolumeSlider.value;
      }
      updateMessageVolumeIcon();
    });

    // 音量に応じてアイコンを変更する関数
    function updateMessageVolumeIcon() {
      if ((selectedVoice === 'female' && message1Female.volume === 0 && message2Female.volume === 0) ||
          (selectedVoice === 'male' && message1Male.volume === 0 && message2Male.volume === 0)) {
        messageVolumeIcon.className = 'fas fa-volume-mute'; // 消音アイコンに変更
      } else {
        messageVolumeIcon.className = 'fas fa-user'; // 元のアイコンに戻す
      }
    }

    // 初期アイコンの設定
    updateMessageVolumeIcon();

    // 音声メッセージの選択に応じてアイコンの色を変更する関数
    function updateMessageVolumeIconColor() {
      if (selectedVoice === 'female') {
        messageVolumeIcon.style.color = '#f83798'; // ピンク色
      } else {
        messageVolumeIcon.style.color = '#00ccff'; // 青色
      }
    }

    // 初期アイコンの色の設定
    updateMessageVolumeIconColor();

    // タブの可視性が変更されたときの処理
    document.addEventListener('visibilitychange', function() {
      isTabActive = document.visibilityState === 'visible';
      if (isTabActive) {
        startTime = new Date() - lastElapsedTime * 1000;
      }
    });

    // タブが非アクティブなときでも音声メッセージを再生するための処理
    setInterval(function() {
      if (!isTabActive) {
        updateElapsedTime();
      }
    }, 1000);

    // 音声メッセージの選択を変更する関数
    document.querySelectorAll('input[name="voice"]').forEach(function(radio) {
      radio.addEventListener('change', function() {
        tempSelectedVoice = this.value; // 一時的に選択された声の設定を保存
        updateMessageVolumeIconColor(); // アイコンの色を更新
      });
    });

    // ポモドーロタイマーの設定
    var countdownDisplay = document.getElementById('countdown-display');
    var resetCountdownButton = document.getElementById('reset-countdown');
    var setPomodoroButton = document.getElementById('set-pomodoro');
    var workDurationInput = document.getElementById('work-duration');
    var breakDurationInput = document.getElementById('break-duration');
    var countdownInterval;
    var isWorkSession = true;
    var countdownTime = 25 * 60; // 25分 開始の時間

    function updateCountdownDisplay() {
      var minutes = Math.floor(countdownTime / 60);
      var seconds = countdownTime % 60;
      countdownDisplay.textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
    }

    function startCountdown() {
      clearInterval(countdownInterval);
      countdownInterval = setInterval(function() {
        countdownTime--;
        updateCountdownDisplay();
        if (countdownTime <= 0) {
          clearInterval(countdownInterval);
          if (isWorkSession) {
            // 学習時間が完了したらメッセージ1を再生
            if (selectedVoice === 'female') {
              message1Female.play();
            } else {
              message1Male.play();
            }
          } else {
            // 休憩時間が完了したらメッセージ2を再生
            if (selectedVoice === 'female') {
              message2Female.play();
            } else {
              message2Male.play();
            }
          }
          isWorkSession = !isWorkSession;
          countdownTime = isWorkSession ? workDurationInput.value * 60 : breakDurationInput.value * 60; // 学習時間と休憩時間を設定
          startCountdown();
        }
      }, 1000);
    }

    function resetCountdown() {
      clearInterval(countdownInterval);
      isWorkSession = true;
      countdownTime = workDurationInput.value * 60; // 学習時間をリセット時の時間に設定
      updateCountdownDisplay();
      startCountdown(); // リセット後にカウントダウンを再開
    }

    function setPomodoro() {
      selectedVoice = tempSelectedVoice; // 一時的な設定を反映
      resetCountdown();
      saveSettings(); // 設定を保存
      updateMessageVolumeIconColor(); // アイコンの色を更新
      // 設定ボタンをクリックしたときに音声メッセージのボリューム調整アイコンを閉じる
      messageVolumeSlider.style.display = 'none';
      voiceSelection.style.display = 'none';
      pomodoroSettings.style.display = 'none';
    }

    resetCountdownButton.addEventListener('click', resetCountdown);
    setPomodoroButton.addEventListener('click', setPomodoro);

    // 初期表示の更新
    updateCountdownDisplay();

    // 設定を読み込む
    loadSettings();

    // タイマーを開始
    startCountdown();

    // 雨のエフェクトを作成
    createRainEffect();

    // タイマーを開始
    startTimer();
  });
</script>